.Header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(28, 86, 194);
    font-family: "Roboto";
    & a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .Header a {
        font-size: 1.5rem;
    }
}
